#container {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

.color {
  color: white;
}

.nav {
  font-size: 18px;
  width: 150px;
  margin:0 auto;
  text-align: left;
}

#bgimg {
  background-image: url("../the-flatiron-building.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
ul {
  list-style-type: none;
}

li {
  margin: 10px;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

#copyright {
  font-size: 11px;
}

#left {
  text-align: left;
  position: absolute;
  width: 100%;
  background-color: dimgray;
}
